<!DOCTYPE html>
<html>
<head>
	<title>Upload Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style type="text/css">
	img{
		width: 100px;
		height: 100px;
	}
</style>
</head>
<body>

	<div class="container">
		<div class="row">
			<% if(state=="showall"){%>
			<h2>Add Data</h2>
			
			<form method="post" enctype="multipart/form-data" action="/">
				<div class="form-group row" >
				<!-- 	<div class="col-md-1" style="float: left;">
						<label for="title" class="col-sm-2 col-form-label" >Video Title</label>
					</div>
					<div class="col-sm-3" style="float: left;">
						<input type="text" name="title" placeholder="title" class="form-control">
					</div> -->
				</div>
				<div class="form-group row" >
					<div class="col-lg-2" style="float: left;">
						<input  type="file"  name="upl" class="form-control-file">
					</div>
				</div>
			<!-- 	<div class="form-group row" >
					<div class="col-lg-2" style="float: left;">
						<input type="file" name="upl1" class="form-control-file">
					</div>
				</div>
				 -->
				<div class="form-group row" >
					<div class="col-lg-2" style="float: left;">
						<input type="submit" class="btn btn-primary">
					</div>
				</div>
			</form>
			<% }else{ %>
				<h2>Show <%= name  %></h2>			
			<% } %>
						
		</div>
		<div class="row">

			<% if(state=="showall"){%>		
			<div class="row">
			<a id="autofresh" href"#" role="button" class="btn btn-success" onclick=disablerefresh() >disable auto refresh</a>
			<a id="refresh" href"#" role="button" class="btn btn-success" onclick=refreshbu() >Refresh</a>
			</div>
			<% } %>
			<% for (var i = 0; i < data.length; i++) { %>
			<% if(state=="showall"){%>		
		
			<% if(data[i].status!="removed"){%>
			<div class="col-md-4">
				<div class="thumbnail">
					<div class="caption">
						
						
						<h3><%= data[i].username %>:<%= data[i].status %></h3>
						
						<a href="/<%= name[i]%>_<%= types[i]%>">Visit <%= data[i].username %>!</a>
						<!-- <h3><%= data[i]._id %></h3> -->
						<!-- <img src="<%= data[i].image1 %>" class = "img-thumbnail">
						<img src="<%= data[i].image2 %>" class = "img-thumbnail"> -->
						
						
						
						<form method="post" action="/delete">
							<input id="prodId" name="prodId" type="hidden" value="<%= data[i]._id %>">
							<input type="submit"  class = "btn btn-danger" name="Delete" value="Delete">
						</form>
					</div>
				</div>
			</div>
			<%}%>
			<% }else{ %>
				
				
				<a onclick=debugBase64("<%= binimgfordata[i]%>")>
					<img src="<%= binimgfordata[i] %>" class = "img-thumbnail"/>
				</a>
			
			<% } %>
			<% } %>
		</div>
	</div>
	<% if(state=="showone"){%>	
	<script type="text/javascript">
	function debugBase64(base64URL){
	    var win = window.open();
	    win.document.write('<iframe src="' + base64URL  + '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen sandbox></iframe>');
	    
	}

 //     var time = new Date().getTime();
 //     window.addEventListener('load', function () {
	// time = new Date().getTime(); 
	// })
 //     function refresh() {
 //     	//alert('refresh');
 //         if(new Date().getTime() - time >= 30000) 
 //             window.location.reload(true);
 //         else 
 //             setTimeout(refresh, 1000);
 //     }
 //     setTimeout(refresh, 1000);
	</script>
	<% } %>
	<% if(state=="showall"){%>
	<script type="text/javascript">
	 var time = new Date().getTime();
	 autorefesh =true;
	 document.getElementById("autofresh").text="disable auto refresh";
     window.addEventListener('load', function () {
	time = new Date().getTime(); 
	setTimeout(refresh, 1000);
	})
     function refresh() {
		
     	if(autorefesh==true){
     		//alert('enter')
         if(new Date().getTime() - time >= 30000){ 
         	//alert(autorefesh);
             window.location.reload(true);
         }else {
             setTimeout(refresh, 1000);
         }
     	}
     }
    
	function disablerefresh(){
		//alert('change');
		if(autorefesh){
			document.getElementById("autofresh").text="enable auto refresh";
			autorefesh =false;
		}else{
			autorefesh =true;
			document.getElementById("autofresh").text="disable auto refresh";
			setTimeout(refresh, 1000);
		}

		
	}
	function refreshbu(){
		 
        window.location.reload(true);
        
	}
	</script>
		<% } %>
	
	
</body>
</html>